{%extends 'base.html'%}
{%import 'macros.html' as macro%}

!-- Styles block -->

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}
<div class="container">
    <form action="">
        <input type="text" name="article_query" placeholder="Search for News Articles...." class="form-control">
        <input type="submit" value="submit" class="btn btn-success">
    </form>
</div>
<hr>

<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h1 class="hd"><span style=" color:navy ; font-size: 35px;">TODAY'S HEADLINES</h1></span>
    
        
            {{macro.displayheadlines(newsheadlines)}}
        </div>
      <div class="col-md-8">
        <h3 style="color: navy; font-size: 35px;">NEWS SOURCES</h3><span style="font-style: italic; font-size: 20px;">{{general|count}} News Source Available</span>
        
        <hr style="color: navy;">
        
            {{macro.displayNewsSourceList(general)}}
        
      </div>
        
    
    
    </div>
</div>
{%endblock%}