{%macro displayheadlines(headlines)%}

{%for headline in headlines%}

   
<div class="" style="width: 18rem; border: brown;">
    <img src="{{headline.urlToImage}}" alt="" class="image-fluid" height='250' width="250">
    <div class="card-body">
      <p class="card-text">{{headline.title}}</p>
    
            <p>Posted On: {{headline.publishedAt|truncate(13)}}</p>
            <a href="{{headline.url}}">View full Headline</a>
    </div>
</div>
{%endfor%}

{%endmacro%}

{%macro displayNewsSourceList(newssource_list)%}


{%for newssource in newssource_list%}

    <div class=" movie-card">
        <h3>{{newssource.name}}</h3>
        <p>{{newssource.description}}</p>
        <a href="/news/{{newssource.id}}">View articles related to {{newssource.name}}</a><br>

        <a href="{{newssource.url}}" target="blank"> Link to The Main {{newssource.name}} site</a>
    </div>
{%endfor%}

{%endmacro%}

{% macro displaySourcesClicked(source_list) %}
{% for source in source_list %}
.
   <div class="col-md-4">
    <div  style="width: 18rem; border: brown;">
        <h3>{{source.title}}</h3>
        <img src="{{source.urlToImage}}" alt="{{source.title |truncate(5)}}" class="image-fluid" height='250' width="250">
        <div class="card-body">
            
            <p>{{source.description| truncate(100)}}</p>
            <p>PUBLISHED ON:{{source.publishedAt | truncate(13)}}</p>
            <a href="{{source.url}}">View full Article</a>
        </div>
    </div>
   </div>
    
{% endfor %}
{% endmacro %}

{% macro displaycategory(category) %}
{% for categorys in category %}
    <div class="col-md-4" >
    
        <a href="/news/{{categorys.title}}" target="blank">View articles</a>
        <p>{{categorys.author}}</p>
    
        <!-- get articles  pass source.name -->

    </div>
{% endfor %}


{% endmacro %}

